.link:not(.icon) {
  transition: .4s;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;

  border-bottom: 3px solid transparent;

  &:hover {
    border-color: orangered;
  }
}

img.icon {
  width: 16px;
  height: 16px;
  transition: .4s;


  &:hover {
    border-color: white;
  }
}
