.section {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;

  & + & {
    margin: 270px 0 300px 0;
  }
}
@media screen and (max-width: 998px) {
  .section {
    margin-top: 0;
    padding: 36px 0 0 18px;
    flex-direction: column;
  }
}