.App {
  background: rgba(16,17,22, 1);
  color: rgba(228, 229, 234, 0.9);
  overflow: hidden;
}
.about {
  margin-top: 70px;
  font-family: "Montserrat", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: rgba(228, 229, 234, 0.9);
}
.about p {
  letter-spacing: .36px;
  margin: 0 -1px 6px 0;
}
.about a {
  letter-spacing: .56px;
  text-decoration: underline;
  margin-left: 140px;
}
.address {
  margin-top: 18px;
}
.logo {
  font-size: 10px;
  font-style: normal;
  letter-spacing: 0.3px;
  font-weight: 300;
  line-height: 12px;
  width: 140px;
  margin: 11px 0;
  color: rgba(228, 229, 234, 0.5);
}
.line {
  margin: 12.5px 4px 0 3px;
  height: 0.5px;
  display: block;
  width: 10px;
  border: 0.5px solid;
  border-image:  linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  border-image-slice: 1;
}
.phone {
  padding: 0 16px;
}
.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  padding: 57px 0 20px;
  margin: 0 auto;
  position: relative;
}

h1 {
  margin-left: -4px;
  width: 50%;
  font-size: 48px;
  font-weight: 400;
}

h2.title {
  margin-left: -4px;
  font-size: 48px;
  font-weight: 900;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.sub_title {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  width: 291px;
}

h2.sub_title span {
  letter-spacing: .9px;
  font-weight: 700;
  background: linear-gradient(270deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_text {
  display: flex;
  flex-direction: column;
}

.section_text h6 {
  letter-spacing: .8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.section_text p {
  margin-top: 6px;
  white-space: pre-line;
  font-family: "Montserrat", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.section_text span ~ p {
  font-size: 13px;
  line-height: 16px;
}

h3.description {
  margin-left: -2px;
  font-family: "Montserrat", monospace;
  margin-top: 30px;
  font-size: 18px;
  width: 300px;
}

.contact {
  color: rgba(101, 101, 102, 1);
  white-space: pre-line;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 20px 0;
}
.contact_phone {
  margin-bottom: 21px;
}
.container {
  display: flex;
  flex-direction: column;
}

.socialLinks {
  display: flex;

  & > *:not(:first-child) {
    margin-left: 12px;
  }
}
@media screen and (max-width: 998px) {
  .about {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .about p {
    letter-spacing: .15px;
  }
  .about a {
    font-size: 12px;
    margin-left: 0;
  }
  .section_text {
    flex-direction: row;
  }
  .contact_phone {
    font-size: 16px !important;
    margin-bottom: 11px;
  }
  .section_text span ~ p {
    font-size: 14px;
    letter-spacing: 0.1px;
  }
  .address {
    margin-top: 6px;
  }
  h1 {
    font-size: 36px;
  }
  h2.sub_title span {
    letter-spacing: 0;
    text-transform: lowercase;
  }
  h2.title {
    font-size: 36px;
  }
  h3.description {
    margin-top: 15px;
    margin-left: -3px;
  }
  .wrapper {
    padding: 0;
  }
  .contact {
    font-size: 12px;
    padding: 25px 0 18px 0;
  }
}