.App {
  background: rgb(0,0,0, 0.9);
  color: rgba(228, 229, 234, 1);
  overflow: hidden;
}
.about {
  margin-top: 70px;
  font-family: "Montserrat", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: rgba(228, 229, 234, 0.9);
}
.about a {
  text-decoration: underline;
}
.address {
  margin-top: 24px;
}
.logo {
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  width: 130px;
  margin: 4px 0;
  color: rgba(228, 229, 234, 0.5);
}
.line {
  margin: 7px;
  height: 1px;
  display: block;
  width: 10px;
  border: 1px solid;
  border-image:  linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  border-image-slice: 1;
}
.phone {
  padding: 0 40px;
}
.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1090px;
  padding: 46px 20px 70px;
  margin: 0 auto;
  position: relative;
}

h1 {
  width: 50%;
  font-size: 48px;
  font-weight: 400;
}

h2.title {
  font-size: 48px;
  font-weight: 900;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.sub_title {
  font-size: 18px;
  font-weight: 500;
  width: 291px;
}

h2.sub_title span {
  font-weight: 700;
  background: linear-gradient(270deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_text {
  display: flex;
  flex-direction: column;
}

.section_text h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.section_text p {
  font-family: "Montserrat", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.section_text span ~ p {
  font-size: 13px;
  line-height: 16px;
}

h3.description {
  font-family: "Montserrat", monospace;
  margin-top: 20px;
  font-size: 18px;
  width: 300px;
}

.contact {
  color: rgba(101, 101, 102, 1);
  white-space: pre-line;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 20px 0;
}
.contact_phone {
  margin-bottom: 25px;
}
.container {
  display: flex;
  flex-direction: column;
}

.socialLinks {
  display: flex;

  & > *:not(:first-child) {
    margin-left: 12px;
  }
}
@media screen and (max-width: 998px) {
  .about {
    margin-top: 50px;
  }
  .section_text {
    flex-direction: row;
  }
  h1 {
    font-size: 36px;
  }
  h2.sub_title span {
    text-transform: lowercase;
  }

  .wrapper {
    padding: 0;
  }
}