.wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 30px;
}

.wrapper > *:nth-last-child(-n+4) {
  display: none;
}

@media screen and (max-width: 998px) {
  .wrapper {
    grid-template-columns: repeat(2, 150px);
    grid-gap: 10px;
    margin-top: 20px;
  }
  .wrapper > *:nth-last-child(-n+4) {
    display: flex;
  }
  .wrapper > *:nth-child(-n+4) {
    display: none;
  }
}