.wrapper {
  margin: 40px -2px;
  display: grid;
  grid-template-columns: repeat(2, 166px);
  grid-row-gap: 30px;
}

.wrapper > *:nth-last-child(-n+4) {
  display: none;
}

@media screen and (max-width: 998px) {
  .wrapper {
    grid-template-columns: 124px 150px;
    grid-row-gap: 8px;
    margin-top: 13px;
  }
  .wrapper > *:nth-last-child(-n+4) {
    display: flex;
  }
  .wrapper > *:nth-child(-n+4) {
    display: none;
  }
}