.title {
  color: rgba(101, 101, 102, 1);
  white-space: pre-line;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 20px 0;
}

@media screen and (max-width: 600px) {
  .title {
    line-height: 15px;
    padding: unset;
    margin: 29px 0 20px 0;
    font-size: 12px;
  }
}