.footer {
  margin: 81px 0 6px -2px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}

.footer > * {
  margin-top: 24px;
}

@media screen and (max-width: 998px) {
  .footer {
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0 16px 0 16px;
    background-color: rgba(0, 0, 0, 1);
  }
  .footer a {
    font-size: 14px;
  }
  .footer > * {
    margin-top: 0;
  }
  .footer > *:first-child {
    margin-top: 10px;
  }
}